<% if logged_in? %>
<div>
    <div class="text-center h1"><%= @user.name%></div>
    <div>
        <div class="h2">企画したイベント</div>
        <div class="d">
            <%= @user.events.each do |event|%>
            <div><%=link_to event.title, event_path(event.id) %></div>
            <div><%= link_to "編集", edit_event_path(event.id) %></div>
            <div><%= link_to "削除", event_path(event.id), method: :delete %></div>
            <% end %>
        </div>
    </div>
    <div>
        <div class="h2">参加予定のイベント</div>
        <%= @user.events.each do |event|%>
        <div><%=link_to event.title, event_path(event.id) %></div>
        <% end %>
    </div>
    <div>
        <div class="h2">参加サークル</div>
        <% @user.jcircle_circles.each do |circle| %>
        <div><%= circle.name %></div>
        <% end %>
    </div>
</div>

<% end %>
