<% if logged_in? %>
<div>
    <div class="text-center h1"><%= @user.name%></div>
    <div>
        <div class="h2">企画したイベント</div>
        <div class="mx-auto" style="width: 60rem;">
            <%= @user.events.each do |event|%>
            <div class="d-flex mt-3 pb-4 border-bottom">
                <div><%=link_to event.title, event_path(event.id) %></div>
                <div><%= link_to "編集", edit_event_path(event.id) %></div>
                <div><%= link_to "削除", event_path(event.id), method: :delete %></div>
            </div>    
            <% end %>
        </div>
    </div>
    <div>
        <div class="h2">参加予定のイベント</div>
        <div class="mx-auto" style="width: 60rem;">
            <%= @user.events.each do |event|%>
            <div class="d-flex mt-3 pb-4 border-bottom">
                <div><%=link_to event.title, event_path(event.id) %></div>
            </div>
            <% end %>
        </div>    
    </div>
    <div>
        <div class="h2">参加サークル</div>
        <div class="mx-auto" style="width: 60rem;">
            <% @user.jcircle_circles.each do |circle| %>
            <div><%=link_to circle.name, circle_path(circle.id)%></div>
            <% end %>
        </div>    
    </div>
</div>

<% end %>
