<div class="d-flex">
    <div class="h1">
        イベント
    </div>
    <div class="ml-2">
        <%= form_with url: genre_path, method: :get, class:"d-flex", local: true do |f| %>
            <select name="genre_id" class="form-control me-2">
              <% @genres.each do |genre| %>
              <option value="<%= genre.id %>"><%= genre.name %></option>
              <% end %>
            </select>
            <%= f.submit "検索", class:"btn btn-outline-success" %>
        <% end %>
    </div>
</div>
<div class="mx-auto" style="width: 50rem;">
    <div class="h2"> 
    <% @events.each do |event|%>
        <div class="d-flex mt-3 pb-4 border-bottom">
            <div ><%= image_tag 'no_mage.jpeg' , class: "image", style: "width: 10rem;" %></div>
            <div>
                <%= link_to event.title, event_path(event) %>
            </div>
        </div>
    <% end %>    
    </div>
</div>
<h2>gmap</h2>

<!-- 地名入力用のinputを追加 -->
<input id="address" type="textbox" value="Sydney, NSW">

<!-- buttonをクリックしたらcodeAddressを実行　-->
<input type="button" value="Encode" onclick="codeAddress()">
<div id='map'>
</div>

<style>
#map{
  height: 400px;
}
</style>

<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/

let map
let geocoder

function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 8
  });
}

function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;

  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnl3r_XitGNoWCaZvTVKaQh0fclJMJXmQ&callback=initMap" async defer></script>

