<div class="d">
  <div class="h1"><%= @event.title%></div>
  <div class="h1">製作者<%= @event.body%></div>
  <% if already_ejained?(@event)%>
    <div><%= button_to '参加をやめる',  event_jevent_path(@event), method: :delete%></div>
  <% else %>
    <div><%= button_to '参加する',  event_jevents_path(@event) %></div>
  <% end %>
  <div>
    <!--<% if current_user %>-->
    <!--  <div><%= link_to "編集", edit_event_path(@event.id) %></div>-->
    <!--  <div><%= link_to "削除", event_path(@event.id), method: :delete %></div>-->
    <!--<% end %>-->
  </div>
  
</div>
<div>
  <div class="h1">コメント一覧</div>
  <%= form_with model: @comment, url: event_comments_path(@event) do |f| %>
    <div>
      <%= f.text_field :text, class: 'field' %>
      <%= f.submit "作成", class: "btn btn-primary" %>
    </div>
  <% end %>
  <div>
    <div>
      <% @comments.each do |c| %>
       <div><%= link_to c.text, event_comment_path(@event, c) %></div>
      <% end %>
    </div>
  </div>
</div>