
<div class="mx-auto my-4" style="width: 40rem;">
  <div class="d-flex">
    <div class="h1 mr-auto"><%= @event.title%></div>
    <div class="h4">製作者<%= @event.user.name %></div>
  </div>
  <% if already_ejained?(@event)%>
    <div class="ml-auto"><%= button_to '参加をやめる',  event_jevent_path(@event), method: :delete%></div>
  <% else %>
    <div class="mr-auto"><%= button_to '参加する',  event_jevents_path(@event) %></div>
  <% end %>
  
  <div class="d-flex">
    <div><%= image_tag 'no_mage.jpeg' , class: "image", style: "width: 15rem;" %></div>
    <div>
      <ul>
        <li>参加人数</li>
        <li>時間: <%= l @event.hold %></li>
        <li>
          場所: <%= @event.address %>
          <div id='map'>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
  <div class="mt-2 h2">イベント詳細</div>
  <div class="mt-2 card mx-auto" style= "width: 35rem; height: 20rem;">
    <div><%= @event.body%></div>
  </div>
  <div class="mt-2 h2">コメント一覧</div>
  <div>
    <%= form_with model: @comment, url: event_comments_path(@event) do |f| %>
      <div>
        <%= f.text_field :text, class: 'form-control' %>
      </div>
      <div class="text-right">
        <%= f.submit "作成", class: "btn btn-primary" %>
      </div>
    <% end %>
    <div>
        <%if @event.comments.count > 0 %>
          <% @event.comments.each do |c| %>
           <div class="mt-2 pl-2  mx-auto border-bottom" style= "width: 40rem; height: 4rem;">
             <div><%= c.user.name %></div>
             <div class="h5"><%= link_to c.text, event_comment_path(@event, c) %></div>
            </div>
          <% end %>
        <% else %>    
            <div class="d-flex mt-3 pb-4 border-bottom">
                <div>コメントはありません</div>
            </div>  
        <% end %>    
    </div>
    <div class="mt-2 h2">イベント参加者</div>
    <div>
        <%if @event.jevents.count > 0 %>
          <% @event.jevents.each do |jevent| %>
           <div class="mt-2 pl-2  mx-auto border-bottom" style= "width: 40rem; height: 4rem;">
             <div><%= link_to jevent.user.name, user_path(jevent.user) %></div>
            </div>
          <% end %>
        <% else %>    
            <div class="d-flex mt-3 pb-4 border-bottom">
                <div>コメントはありません</div>
            </div>  
        <% end %>    
    </div>
  </div>
</div>
<style>
#map{
  width: 200px;
  height: 200px;
}
</style>

<script>
  let map

  function initMap(){
    geocoder = new google.maps.Geocoder()
    var test ={lat: <%= @event.latitude %>, lng: <%= @event.longitude %>};

    map = new google.maps.Map(document.getElementById('map'), {
      center: test,
      zoom: 15,
    });

    var contentString = '住所：<%= @event.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    marker = new google.maps.Marker({
      position:  test,
      map: map,
      title: contentString
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnl3r_XitGNoWCaZvTVKaQh0fclJMJXmQ&callback=initMap" async defer></script>