<div class="d">
  <div class="h1"><%= @event.title%></div>
  <div class="h1">製作者<%= @event.body%></div>
  <% if already_ejained?(@event)%>
    <div><%= button_to '参加をやめる',  event_jevent_path(@event), method: :delete%></div>
  <% else %>
    <div><%= button_to '参加する',  event_jevents_path(@event) %></div>
  <% end %>
  
</div>
<div>
  <div class="h1">コメント一覧</div>
  <%= form_with model: @comment, url: event_comments_path(@event) do |f| %>
    <div>
      <%= f.text_field :text, class: 'field' %>
      <%= f.submit "作成", class: "btn btn-primary" %>
    </div>
  <% end %>
  <div>
    <ul>
      <% @comments.each do |c| %>
        <li><%= c.text %></li>
      <% end %>
    </ul>
  </div>
</div>